<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>UAT</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uat.mp.itfdataservices.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.90.15</MSDeployServiceURL>
    <DeployIisAppPath>uat.mp.itfdataservices.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>itftenniscrmdmz\webmanager</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DavisCup1Context" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_DavisCup1;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DavisCup1Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_DavisCup1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DavisCup2Context" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_DavisCup2;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DavisCup2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_DavisCup2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FedCup1Context" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_FedCup1;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FedCup1Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_FedCup1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FedCup2Context" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_FedCup2;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FedCup2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_FedCup2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UmbracoContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Cms_Umbraco2;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UmbracoContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Cms_Umbraco2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.CmsDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.CmsDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.DavisCupDbContext" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.DavisCupDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.FedCupDbContext" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.FedCupDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.CupDbContext`2" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.CupDbContext`2, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorldNetContext" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=ITFWorldNet;Integrated Security=False;User ID=Umbraco_CMSUser;Password=P1nnacl3P01nt;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WorldNetContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=ITFWorldNet; Application Name=MP; User ID=Umbraco_CMSUser; Password=P1nnacl3P01nt; Trusted_Connection=False" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AuthenticationContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.Authentication.Data.AuthenticationDbContext, ITF.DataServices.Authentication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.CommonDbContext" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.CommonDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.ItfOnlineDbContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.ItfOnlineDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ITF.DataServices.SDK.Data.WorldNetDbContext" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ITF.DataServices.SDK.Data.WorldNetDbContext, ITF.DataServices.SDK" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ItfOnline1Context" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_ITFOnline1;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItfOnline1Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_ITFOnline1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ItfOnline2Context" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVSQL01;Initial Catalog=Baseline_ITFOnline2;Integrated Security=False;User ID=Umbraco_BaselineReader;Password=R0yalB1rkdal3;Application Name=MP" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ItfOnline2Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=DEVSQL01; Database=Baseline_ITFOnline2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthenticationContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DavisCup1Context-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DavisCup2Context-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FedCup1Context-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FedCup2Context-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.CmsDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.CommonDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.CupDbContext`2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.DavisCupDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.FedCupDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.ItfOnlineDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ITF.DataServices.SDK.Data.WorldNetDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UmbracoContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.CmsDbContext" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.CommonDbContext" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.CupDbContext`2" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.DavisCupDbContext" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.FedCupDbContext" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.ItfOnlineDbContext" />
    <_ConnectionStringsToInsert Include="ITF.DataServices.SDK.Data.WorldNetDbContext" />
  </ItemGroup>
</Project>