<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="ITF.MediaPlatform" />
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" />
      <target xsi:type="File" name="fileLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" fileName="logs/MediaPlatform.log" keepFileOpen="false" archiveFileName="logs/MediaPlatform_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug" />
      <logger name="*" writeTo="fileLog" minlevel="Debug" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
  
  <connectionStrings>
    <add name="DavisCup1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_DavisCup1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="DavisCup2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_DavisCup2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="FedCup1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_FedCup1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="FedCup2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_FedCup2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="AuthenticationContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=WebApiAuthentication; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False" />
    <add name="UmbracoContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Cms_Umbraco2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="WorldNetContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=ITFWorldNet; Application Name=MediaPlatformApi; User ID=Umbraco_CMSUser; Password=P1nnacl3P01nt; Trusted_Connection=False" />
    <add name="ItfOnline1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_ITFOnline1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="ItfOnline2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_ITFOnline2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="Baseline02Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline02; Application Name=MediaPlatformApi; User ID=WebAPIUser; Password=Gr@nd51@m; Trusted_Connection=False; MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="Authentication.AllowAnonymousIpRegex" value="^.*$" />
    <add key="Cup.HomeAndAwayAppearances.Dc" value="19" />
    <add key="Cup.HomeAndAwayAppearances.Fc" value="19" />
    <add key="Cup.TotalAppearances.Dc" value="49" />
    <add key="Cup.TotalAppearances.Fc" value="39" />
    <add key="TableCacheTimeout.DefaultValue" value="86400" />
    <add key="TableCacheTimeout.CacheConfiguration" value="1800" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>