<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DavisCup1Context" connectionString="Server=172.16.10.136; Database=Baseline_DavisCup1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DavisCup2Context" connectionString="Server=172.16.10.136; Database=Baseline_DavisCup2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="FedCup1Context" connectionString="Server=172.16.10.136; Database=Baseline_FedCup1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="FedCup2Context" connectionString="Server=172.16.10.136; Database=Baseline_FedCup2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="AuthenticationContext" connectionString="Server=172.16.10.136; Database=WebApiAuthentication; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="UmbracoContext" connectionString="Server=172.16.10.136; Database=Cms_Umbraco2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="WorldNetContext" connectionString="Server=172.16.10.136; Database=ITFWorldNet; Application Name=MediaPlatformApi; User ID=Umbraco_CMSUser; Password=P1nnacl3P01nt; Trusted_Connection=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ItfOnline1Context" connectionString="Server=172.16.10.136; Database=Baseline_ITFOnline1; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ItfOnline2Context" connectionString="Server=172.16.10.136; Database=Baseline_ITFOnline2; Application Name=MediaPlatformApi; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Baseline02Context" connectionString="Server=172.16.10.136; Database=Baseline02; Application Name=MediaPlatformApi; User ID=WebAPIUser; Password=Gr@nd51@m; Trusted_Connection=False; MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Authentication.AllowAnonymousIpRegex" value="^((90\.214\.100|31\.221\.83|83\.244\.149)\.([1-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5])))$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>