*.suo
packages/
ITF.MediaPlatform.API/bin/
ITF.MediaPlatform.API/obj/
ITF.SDK.DavisCup/bin/
ITF.SDK.DavisCup/obj/
ITF.MediaPlatform.API.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ITF.MediaPlatform.API.Tests/obj/
.vs/
ITF.DataServices.Authentication/bin/
ITF.DataServices.SDK/bin/
ITF.MediaPlatform.API.Tests/bin/
ITF.DataServices.SDK/obj/
ITF.DataServices.Authentication/obj/
*.user
*.log
/*.xml
ITF.DataServices.Utilities/obj/
ITF.DataServices.Utilities/bin/
