<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <variable name="appName" value="ITF.MediaPlatform" />
    <targets async="true">
      <!--${callsite:className=true:includeSourcePath=false:methodName=true}-->
      <target xsi:type="Console" name="consoleLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" />
      <target xsi:type="File" name="fileLog" layout="${longdate}  ${level:uppercase=true} ${threadid} ${callsite:className=false}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString,StackTrace}}" fileName="logs/MediaPlatform.log" keepFileOpen="false" archiveFileName="logs/MediaPlatform_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
      <target xsi:type="EventLog" name="eventlog" source="${appName}" layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="consoleLog" minlevel="Debug" />
      <logger name="*" writeTo="fileLog" minlevel="Debug" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="DavisCup1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_DavisCup1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="DavisCup2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_DavisCup2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="FedCup1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_FedCup1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="FedCup2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_FedCup2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="AuthenticationContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=WebApiAuthentication; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False" />
    <add name="UmbracoContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Cms_Umbraco2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="WorldNetContext" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=ITFWorldNet; Application Name=MP; User ID=Umbraco_CMSUser; Password=P1nnacl3P01nt; Trusted_Connection=False" />
    <add name="ItfOnline1Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_ITFOnline1; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="ItfOnline2Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline_ITFOnline2; Application Name=MP; User ID=Umbraco_BaselineReader; Password=R0yalB1rkdal3; Trusted_Connection=False; MultipleActiveResultSets=True" />
    <add name="Baseline02Context" providerName="System.Data.SqlClient" connectionString="Server=UATSQL01; Database=Baseline02; Application Name=MediaPlatformApi; User ID=WebAPIUser; Password=Gr@nd51@m; Trusted_Connection=False; MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="TableCacheTimeout.DefaultValue" value="86400" />
    <add key="TableCacheTimeout.CacheConfiguration" value="1800" />
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.1705" newVersion="1.9.2.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>